@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
 /* <color name="Raisin black" hex="201e1f" r="32" g="30" b="31" />
  <color name="Davy's gray" hex="4f4f51" r="79" g="79" b="81" />
  <color name="Gray" hex="7e7f83" r="126" g="127" b="131" />
  <color name="Chili red" hex="ea2b1f" r="234" g="43" b="31" />
  <color name="Anti-flash white" hex="f1f2f6" r="241" g="242" b="246" />*/
.navbar {
    background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 2rem;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 
              inset 0 4px 20px rgba(255, 255, 255, 0.123);
    width: 98vw;
    height: 10vh;
    margin-top: 3vh;
    margin-left: 1vw;
    border-radius: 1vb;
    /*display:inline-flex;*/
}

* {
    padding: 0;
    margin:0;
}

.NavBarComp {
    font-family: "Space Mono";
    color: black;
    font-feature-settings: "pstf";
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.body
{
    background-color: yellow;
    width: 98vw;
    height: 80vh;
    margin-top: 5vh;
    margin-left: 1vw;
    border-radius: 1vb;
}

.bg {
  position: fixed; 
  top: 0; 
  left: 0; 
background-color: #201e1f;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

