.about {
    justify-items: center;
}

.about>h1 {
    margin-top: 3vh;
}

.about>h3 {
    margin-top: 2vh;
    max-width: 90vw;
    text-align: center;
}

.about-info {
    width: 25vw;
    height: 55vh;
    border: 1px solid white;
    border-radius: 1vb;
    overflow:scroll;
    scrollbar-width: none;
}

.info-cont {
    display: inline-flex;
}

.info-cont>*{
    margin-left: 5vw;
    margin-top: 4vh;
    text-align: center;
}

.about-info>h2 {
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.games>img {
    max-width: 15vw;
    max-height: 25vh;
    margin-bottom: 3vh;
    display: flex;
    justify-self: center;
}

.engines>img {
    margin-bottom: 3vh;
    max-width: 15vw;
    max-height: 20vh;
    display: flex;
    justify-self: center;
}

.engines>img:not(:last-child) {
    filter: invert();
}

.langs>img {
    max-width: 15vw;
    max-height: 15vh;
    margin-bottom: 3vh;
    display: flex;
    justify-self: center;
}

